{%extends "maps/base.html" %}

{% block content %}
</div class="container">

<pre style="background-color:white; padding:10px; overflow:auto; height:100%; margin-left: 150px; margin-right: 150px; font-family: Arial, Helvetica, sans-serif; white-space: pre-wrap;">
  <p><h1>Skredfare og skredrisiko over kvikkleire i Norge</h1>
Kvikksøk gir deg en oversikt over skredrisikoen og skredfaren til kvikkleire i Norge. Privatpersoner eller andre virksomheter har mulighet til å sjekke et spesifikt område i Norge og få informasjon om både skredrisikoen og skredfaren. Under er forskjellen på disse forklart.</p>
<p><h3>Skredfare</h3>
Når vi snakker om et faresonekart over skred, snakker vi om den kvantifiserte sannsynligheten for at det vil gå et skred i et gitt område. Et faresonekart kan vise hvilken faresone område befinner seg i med tilhørende sannsynlighet <a href="http://publikasjoner.nve.no/rapport/2011/rapport2011_14.pdf">[1]</a>.
  
<b>Utregningen av sonene er avhengig av:</b>
    -	Topografiske forhold: 
            o  Eksempelvis bebyggelse og vannsystemer <a href= "https://snl.no/topografi">[2]<a/>.

    -	Geologiske/ geotekniske forhold: 
            o  Sier oss noe om jordens struktur og oppbygning <a href= "https://snl.no/geologi">[3]</a>.

    -	Terrengendringer: 
            o  Justering av terreng, eksempelvis sprengning, utgravninger <a href= "https://www.sandefjord.kommune.no/Teknisk/Min-Eiendom/Byggesak/Terrenginngrep/">[5]</a>.</p>
<p><b>Lav</b>
Det er gode topografiske forhold og grunnundersøkelser viser at grunnforholdene er gunstige. Det er lite eller ingen aktiv erosjon i vassdraget. Det har vært liten skredaktivitet i området. Ingen terrenginngrep/ terrenginngrep har hatt gunstig innvirkning på stabiliteten <a href= "https://webfileservice.nve.no/API/PublishedFiles/Download/201600907/1766559">[4]</a>.

<b>Middels</b>
Mindre gunstige topografiske forhold. Mangelfulle grunnundersøkelser, eller grunnundersøkelsene viser mindre gunstige grunnforhold. Det er aktiv erosjon i vassdraget. Det har vært betydelig skredaktivitet i området. Eventuelle terrenginngrep har liten eller ingen stabilitetsforbedrende virkning <a href= "https://webfileservice.nve.no/API/PublishedFiles/Download/201600907/1766559">[4]</a>.

<b>Høy</b>
Ugunstige topografiske forhold. Mangelfulle grunnundersøkelser eller grunnundersøkelsene viser ugunstige grunnforhold. Det er aktiv erosjon i vassdraget. Det har vært stor skredaktivitet i området. Terrenginngrep med stabilitetsforverrende virkning <a href= "https://webfileservice.nve.no/API/PublishedFiles/Download/201600907/1766559">[4]</a>.</p>
<p><h3>Skredrisiko</h3>
Risikoen for skred gir oss opplysninger om sannsynligheten, slik som skredfare, men også en analyse av konsekvensene for et skred. Analysen av konsekvensene samler data basert på materielle skader og økonomiske konsekvenser i tillegg til eventuelle tap av menneskeliv. Det er kombinasjonen av disse som gir oss nivåene for skredrisikoen <a href="http://publikasjoner.nve.no/rapport/2011/rapport2011_14.pdf">[1]</a>.
I utregningen vil risikoen være lik verdien for konsekvens multiplisert med verdien for faregraden. Resultatene fra denne utregningen fordeles mellom 5 risikoklasser <a href= "https://webfileservice.nve.no/API/PublishedFiles/Download/201600907/1766559">[4]</a>.

</p>

<p>Referanseliste

[1]	Norges vassdrags- og energidirektora. (2011). Plan for skredfarekartlegging. <a href="http://publikasjoner.nve.no/rapport/2011/rapport2011_14.pdf">http://publikasjoner.nve.no/rapport/2011/rapport2011_14.pdf</a>, s. 16
[2]	Dick, B, O. (2020, 9. mars). Topografi. Store Norske Leksikon. <a href= "https://snl.no/topografi">https://snl.no/topografi<a/>
[3]	Fossen, H. (2020, 23. januar). Geologi. Store Norske Leksikon. <a href= "https://snl.no/geologi">https://snl.no/geologi</a>
[4]	Gregersen, O. (2008, 8. oktober). Program for økt sikkerhet mot leirskred. NGI. <a href= "https://webfileservice.nve.no/API/PublishedFiles/Download/201600907/1766559">https://webfileservice.nve.no/API/PublishedFiles/Download/201600907/1766559</a>, s.17
[5]	Sandefjord Kommune. (2019, 14. mai). Terrenginngrep. <a href= "https://www.sandefjord.kommune.no/Teknisk/Min-Eiendom/Byggesak/Terrenginngrep/">https://www.sandefjord.kommune.no/Teknisk/Min-Eiendom/Byggesak/Terrenginngrep/</a>
</p>
</pre>
</div>

{% endblock content %}
