
 {% extends  "maps/base.html" %}
 

 {% block content %}
 {% load static %}

   <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
   <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css">
   <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
   <style>
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
   </style>
    <div class="map-overlay">
        <form method="get">
            <button  id="post" class="button" type="button">Lagrede postnummer</button>
            <button id="nyttPunkt" class="button" type="button">Legg til punkt</button>
        </form>
    </div>
    <div id='map'>
        <script src='static/javascript/mapbox.js'   type="module"></script>
    </div>

{% endblock content %}
