{% extends  "maps/base.html" %}

{% block content %}
    <div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                Slett Varsel </legend>
                <h3> Er du sikker på at du vil slette "{{ object.title }}"</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Slett</button>
                <a class="btn btn-outline-info" href="{% url "maps-messages-detail" object.id %}">Avbryt</a>
            </div>
        </form>
    </div>
    </div>
{% endblock content %}
